body {
    background-color:#f0f0f0";
}

h2 {
    color: #333;
    width: 0;
    min-width: 100%;
}

img.logo {
    max-width: 100%;
    height: auto;
}

.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
}