body {
    background-color:#f0f0f0";
}

p {
    color: #333;
    width: 0;
    font-size: 5vw;
}

img.logo {
    max-width: 100%;
    height: auto;
}

.container{
    justify-content: center;
    align-items: center;
}