body {
    background-color:#eb5424";
}

p {
    color: #ffffff;
    font-size: 5vw;
}

img.logo {
    max-width: 100%;
    height: auto;
}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}