@media (max-width: 768px) {
  header {
    height: 120px;
    background-size: cover;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }

  body {
    font-size: 16px;
  }
}

body {
  background-color: #008080;
  font-family: Georgia, serif;
  color: #2f2f1f;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 820px;
  margin: auto;
  border: 3px double #755c28;
  background-color: #d5ffff;
  box-shadow: 0 0 10px #c4b998;
}
#header {
  background-image: url("../images/header.png"); 
  background-size: cover; 
  height:200px;
  display: flex;
  align-items: center;
  font-family: 'Garamond', serif;
  border-bottom: 2px solid #a3853a;
}
#header h1 {
  background-color: rgba(255, 255, 255, 0.3); /* Vitt med 70 % opacitet */
  text-shadow: 1px 1px 2px #555;
  padding: 0.4em 1em;
  display: inline-block;
  border-radius: 8px;
  color: #000; /* Svart text för bra kontrast */
  font-weight: bold;
  font-size: 2.5em;
}
.logo {
 /* background-color: rgba(255, 255, 255, 0.3); /* Vitt med 70 % opacitet */*/
  border-radius: 8px;
  height: 150px;
  width: auto;
  max-width: 100%;
}
#nav {
  background-color: #42019c;
  padding: 12px;
  /*text-align: center;*/
  font-family: Georgia, serif;
}
#nav a {
  margin: 0 10px;
  color: #d5ffff;
  text-decoration: none;
  font-weight: bold;
}
#nav a:hover {
  text-decoration: underline;
}
#content {
  padding: 20px;
}
#sponsors {
  margin-top: 30px;
  padding: 15px;
  background-color: #f9f1dd;
  border: 2px dotted #b89c6f;
}
#footer {
  background-color: #ede0c6;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #42019c;
  font-family: Georgia, serif;
}
#tabla-container {
    font-family: 'Georgia', serif;
}
h3 {
    color: #333366;
    border-bottom: 1px dotted #888;
    margin-top: 1.5em;
}
.blink {
  animation: blink-animation 1.2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
